In [ ]:
a=150
b=400
if a<b:
  print("hello world")
else:
  print("hai")

hello world

In [1]:
a=55
b=55
if a>b:
  print("hai")
elif a<b:
  print("hello")
else:
  print("haii")

haii

In [ ]:
a=50
b=65
c=40
if a>b and a>c:
  print("a is greater")
elif b>a and b>c:
  print("b is greater")
else:
  print("c is greater")

b is greater

In [ ]:
i=0
while i<10:
  i+=1
  if i==3:
    break
  print(i)

1
2

In [ ]:
i=0
while i<10:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6
7
8
9
10

In [ ]:
i=1
while i<10:
  i=i+1
  print(i)

2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(10,50,5):
  print(i)

10
15
20
25
30
35
40
45

In [ ]:
for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
a=["apple","mango","banana","cherry"]
for i in a:
  print(i)

apple
mango
banana
cherry

In [ ]:
a=[19,5,5,5,19]
if a.count(19)==2 and a.count(5)==3:
  print("true")
else:
  print("false")

true

In [ ]:
a=[19,5,5,5,14,3]
if a.count(19)==2 and a.count(5)==3:
  print("true")
else:
  print("false")

false

In [ ]:
for i in range(1,50,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
a=[]
for i in range(12,101):
  if i%12==0:
    a.append(i)
print(a)
b=[]
for j in a:
  if j%14==0:
    b.append(j)
print(b)

[12, 24, 36, 48, 60, 72, 84, 96]
[84]

In [ ]:
a=[]
b=[]
for i in range(1,101):
  if i%2!=0:
        a.append(i)
  else:
       b.append(i)
print(a)
print(b)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
a=["sana","safa","rana"]
b=["a11","a13","a14"]
c=input("enter the username:")
if c in a:
     d=input("enter password:")
     ind=a.index(c)

     if d in b and ind==b.index(d):
       print("welcome")
     else:
       print("incorrect password")
else:
    print("incorrect username")

enter the username:rana
enter password:a14
welcome

In [ ]:
name=[]
for i in range(5):
  n=input("enter the name:")
  name.append(n)
age=[]
for i in range(5):
  a=input("enter the age:")
  age.append(a)
print(name)
print(age)

enter the name:sana
enter the name:safa
enter the name:rana
enter the name:rifa
enter the name:aysh
enter the age:21
enter the age:22
enter the age:55
enter the age:33
enter the age:22
['sana', 'safa', 'rana', 'rifa', 'aysh']
['21', '22', '55', '33', '22']

In [ ]:
s=input("enter the sentence:")
count=0
for i in s:
  if (i=='a'or i=='e'or i=='i'or i=='o'or i=='u'):
    count+=1
print("number of vowels:",count)  
if count==0:
  print("no vowels")

enter the sentence:vvvvv
number of vowels: 0
no vowels

In [ ]:
a=input("enter the word:")
if  a[0]=='p':
      print("welcome")
else:
  print("no entry")

enter the word:wee
no entry

In [ ]:



n=input("enter the word:")
if n == n[::-1] :
  print("palidrome")
else:
  print("not palidrome")

enter the word:

In [ ]:
n = int(input("enter the number of country:"))
set1=set()
for i in range(n):
   s=input("enter the country:")
   set1.add(s)
   
print(len(set1))

enter the number of country:3
enter the country:india
enter the country:india
enter the country:china
2

In [ ]:
set1

{'china', 'india'}

In [ ]:
n=int(input())
s=set()
for i in range(1,n+1):
    s.add(i)
print(s)  
num=int(input())
for i in range(num):
    set1=input()
    if 'pop' in set1  
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}